# ============================ #
# GoSnap Unity Project #
# ============================ #
GGJ2016/GGJ2016/Temp/*
GGJ2016/GGJ2016/Obj/*
GGJ2016/GGJ2016/UnityGenerated/*
GGJ2016/GGJ2016/Library/*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
GGJ2016/GGJ2016/ExportedObj/
GGJ2016/GGJ2016/*.svd
GGJ2016/GGJ2016/*.userprefs
GGJ2016/GGJ2016/*.csproj
GGJ2016/GGJ2016/*.pidb
GGJ2016/GGJ2016/*.suo
GGJ2016/GGJ2016/*.sln
GGJ2016/GGJ2016/*.user
GGJ2016/GGJ2016/*.unityproj
GGJ2016/GGJ2016/*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
thumbs.db
Builds
*.csproj
*.sln
GGJ2016/GGJ2016/Assets/__MACOSX/
GGJ2016/GGJ2016/Assets/__MACOSX.meta
