# ============================ #
# GoSnap Unity Project #
# ============================ #
Project/Temp/*
Project/Obj/*
Project/UnityGenerated/*
Project/Library/*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Project/ExportedObj/
Project/*.svd
Project/*.userprefs
Project/*.csproj
Project/*.pidb
Project/*.suo
Project/*.sln
Project/*.user
Project/*.unityproj
Project/*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
thumbs.db
Builds
*.csproj
*.sln
Project/Assets/__MACOSX/
Project/Assets/__MACOSX.meta
